[package]
name = "wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
search = { path = "../core", features = ["wasm"] }
serde_json = "1.0.145"
wasm-bindgen = "0.2"
js-sys = "0.3"
